* {
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
}
body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  color: #666666;
  text-align: left;
  -webkit-text-size-adjust: 100%;
}
.c_01 {
  background: #04AB8F;
}
.c_02 {
  background: #1134E2;
}
.c_03 {
  background: #3B00A4;
}
.c_04 {
  background: #0054A6!important;
  color: #FFFFFF!important;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.btn {
  max-width: 79px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  min-height: 17px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.625rem;
  padding: 2px 0;
  border: none;
  outline: none;
}
.btn_01{
  max-width: 200px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 18px;
  padding: 14px 0;
  background: #ffffff;
  color: #0054A6;
}
.btn_02{
  max-width: 250px;
  width: 100%;
  border-radius: 30px;
  padding: 9.5px 0;
  font-size: 1.125rem;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
  background: #0054A6
}
/* form input group */
input,select,textarea {
  outline: none;
  border: none;
}
select{
  cursor: pointer;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  min-width: 17px;
  height: 17px;
  border-radius: 3px;
}
input[type="checkbox"]:checked{
  background: #707070;
}
input[type="checkbox"]::before, input[type="checkbox"]::after {
  content: "";
  position: absolute;
  left: 0;
}
input[type="checkbox"]::after {
  width: 100%;
  height: 100%;
  border: 2px solid #707070;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="checkbox"]:checked::before {
  width: 4px;
  height: 8px;
  background: transparent;
  border: solid #FFFFFF;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
  top: -4px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* end form group */
figure {
  line-height: 0;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
select:required:invalid {
  color: #ccc!important;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
.menu_click {
  background: #ccc;
}
.max-content {
  max-width: 1420px;
  margin: 0 auto;
}
.inner-content {
  max-width: 1380px;
  margin: 0 auto;
}
.pd_0{
  padding-top: 0!important;
}

/* dashboard */
.container .content .content_inner {
  padding: 35px 20px 90px;
}
.container .content .content_inner .daily_check ul.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container .content .content_inner .daily_check ul.check li.list {
  width: 23.914%;
  margin-right: 1.4%;
  margin-top: 35px;
}
.container .content .content_inner .daily_check ul.check li.list:nth-of-type(4n) {
  margin-right: 0;
}
.container .content .content_inner .daily_check ul.check li.list .list_row {
  padding: 20px 10px 15px 5.455%;
  -webkit-box-shadow: 0 0 6px #00000061;
  box-shadow: 0 0 6px #00000061;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.close{
  display: inline-block;
  vertical-align: middle;
  background: #8e99ac;
  position: relative;
  transform: translateY(-1.5px) rotate(45deg);
  width: 16px;
  height: 2px;
  cursor: pointer;
}
.close:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}
.container .content .content_inner .daily_check ul.check li.list .list_row h4 {
  font-size: 0.8125rem;
  line-height: 18px;
  color: #0054A6;
}
.container .content .content_inner .daily_check ul.check li.list .list_row .close{
  float: right;
}
.container .content .content_inner .daily_check ul.check li.list .list_row ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 15px;
  padding-right: 0;
}
.container .content .content_inner .daily_check ul.check li.list .list_row ul li a {
  font-size: 0.8125rem;
  line-height: 18px;
  color: #0054A6;
}
.container .content .content_inner .daily_check ul.check li.list .list_row ul li button {
  font-size: 0.625rem;
  line-height: 13px;
  pointer-events: none;
}
/* end dashboard */

/* login form */
.form .head_txt{
  padding: 60px 0;
}
h3{
  font-size: 1.5rem;
  line-height: 32px;
  color: #0054A6;
  text-align: center;
}
.form .login{
  padding: 34px 0;
  background: #F7F7F7;
}
.form .login .user_login{
  display: flex;
  justify-content: center;
}
.form .login .user_login .btn_01{
  border-right: 2px solid #0054A6;
}
.form .login .user_login .btn_01:first-of-type{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.form .login .user_login .btn_01:last-of-type{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right: 0;
}
.form .form_inner{
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 20px 100px 20px;
}
.item_02,.item_03{
  display: none;
}
.constant input:read-only{
  background: #F7F7F7!important;
}
.form .form_inner .login_form .form_group label{
  display: block;
  font-size: 0.875rem;
  line-height: 19px;
  margin-bottom: 5px;
}
.form .form_inner .login_form .form_group_list{
  display: flex;
  align-items: flex-start;
}
.form .form_inner .login_form .form_group_list.tw_list .form_group{
  width: 48.546%;
}
.form .form_inner .login_form .form_group_list .form_group{
  padding-top: 0;
  width: 31.455%;
  margin-right: 15px;
}
.form .form_inner .login_form .form_group_list .form_group:last-child{
  margin-right: 0;
}
.error{
  font-size: 0.75rem;
  line-height: 16px;
  color: #FF0000;
  margin-top: 5px;
}
.req_txt{
  font-size: 0.75rem;
  font-weight: bold;
  color: #FF0000;
  margin-left: 10px;
}
.form .form_inner .login_form .form_group, .form .form_inner .login_form .form_group_list{
  padding-top: 20px;
}
.form .form_inner .login_form .form_group:first-of-type{
  padding-top: 0;
}
.form .form_inner .login_form .form_group input,.form .form_inner .login_form .form_group select,.form .form_inner .login_form .form_group textarea{
  width: 100%;
  height: 35px;
  font-size: 0.8125rem;
  line-height: 18px;
  background: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 0 10px;
  color: #666666;
  box-sizing: border-box;
}
.form .form_inner .login_form .form_group select{
  -webkit-appearance: none;
}
.form .form_inner .login_form .form_group textarea{
  height: 80px;
  resize: none;
}
.form .form_inner .login_form .form_group .select_box{
  position: relative;
}
.form .form_inner .login_form .form_group .select_box::after{
  content: "";
  position: absolute;
  width: 5.079px;
  height: 5.078px;
  border: 2px solid #707070;
  border-top: 0;
  border-left: 0;
  right: 15px;
  top: -4.5px;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
  pointer-events: none;
}
.form .form_inner .check{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}
.form .form_inner .check label{
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.form .form_inner .check label:first-of-type{
  margin-right: 45px;
}
.form .form_inner .check label input{
  margin-left: 20px;
  -webkit-appearance: none;
}
.form .form_inner .submit_btn{
  text-align: center;
  padding-top: 50px;
}


/*  add new css   */
::-webkit-calendar-picker-indicator{
  cursor: pointer;
}
/*  modal box   */
.modal_open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  background: #00000082;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.modal_open:target {
  pointer-events: all;
  opacity: 1;
}

.modal_open .modal_inner {
  /*position: absolute;*/
  position: relative;
  max-width: 590px;
  display: block;
  line-height: 1.8;
  width: 70%;
  margin: 0 auto;
  background: #fff;
  /*top: 300px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  background: white;
  color: #34495E;*/
  padding: 20px 0 50px 0;
  /*height: 500px;*/
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal_open .modal_inner::-webkit-scrollbar {
    display: none;
}
.modal_open .modal_inner .modal_inner_content{
  padding: 0 20px;
}
.modal_open .modal_inner h2 { margin-top: 0; }

.modal_open .modal_inner code { font-weight: bold; }

.modal_open .modal_close_link {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}
.modal_open .modal_close{
  display: block;
  margin: 0 20px 0 auto;
  width: 15px;
}
.modal_open .modal_close span.close{
  background: #666666;
  margin: 5px 20px 0 0;
}
.modal_open h3{
  padding: 11px 0 15px 0;
  border-bottom: 1px solid #DEE2E6;
}
.modal_open .modal_inner .form .form_inner{
  padding: 0;
  margin-top: 30px;
}
.modal_open .modal_inner .form .form_inner .submit_btn{
  padding-top: 40px;
}

/*  file upload   */
.file-upload .file-select-button{
  position: relative;
  width: 100%;
  height: 35px;
  border: 1px solid #707070;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.file-upload .file-select-button input{
  opacity: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  background: red;
  width: 100%;
  height: 100%!important;
  padding: 0!important;
}
.file_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.file_btn span, .noFile{
  font-size: 0.8125rem;
  line-height: 18px;
}
.noFile{
  margin-top: 5px;
  word-break: break-all;
}
.upload_icon{
  width: 15px;
  margin-right: 15px;
}



/*  add new css   */

/* end login form */

@media screen and (max-width: 767px) {
  .btn {
    min-width: calc(200 / 750 * 100vw);
    min-height: calc(30 / 750 * 100vw);
    font-size: calc(24 / 750 * 100vw);
    padding: calc(5 / 750 * 100vw);
  }
  .btn_01{
    max-width: calc(200 / 750 * 100vw);
    padding: calc(14 / 750 * 100vw) 0;
    font-size: calc(18 / 750 * 100vw);
    line-height: calc(24 / 750 * 100vw);
  }
  .btn_02{
    max-width: calc(250 / 750 * 100vw);
    padding: calc(12 / 750 * 100vw) 0;
    font-size: calc(24 / 750 * 100vw);
    line-height: calc(40 / 750 * 100vw);
  }
  input[type="checkbox"]{
    min-width: calc(30 / 750 * 100vw);
    height: calc(30 / 750 * 100vw);
  }
  input[type="checkbox"]:checked::before{
    width: calc(6 / 750 * 100vw);
    height: calc(14 / 750 * 100vw);
    border-width: 0 calc(4 / 750 * 100vw) calc(4 / 750 * 100vw) 0;
  }
  
  /* dashboard */
  .container .content .content_inner {
    padding: calc(35 / 750 * 100vw) calc(20 / 750 * 100vw) calc(90 / 750 * 100vw);
  }
  .container .content .content_inner .daily_check ul.check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container .content .content_inner .daily_check ul.check li.list {
    width: 100%;
    margin-right: 0;
    margin-top: calc(35 / 750 * 100vw);
  }
  .container .content .content_inner .daily_check ul.check li.list .list_row {
    padding: calc(40 / 750 * 100vw) calc(20 / 750 * 100vw) calc(30 / 750 * 100vw) calc(30 / 750 * 100vw);
  }
  .close {
    width: calc(25 / 750 * 100vw);
    height: calc(3 / 750 * 100vw);
  }
  .container .content .content_inner .daily_check ul.check li.list .list_row h4 {
    font-size: calc(32 / 750 * 100vw);
    line-height: calc(38 / 750 * 100vw);
  }
  .container .content .content_inner .daily_check ul.check li.list .list_row ul li {
    padding-top: calc(20 / 750 * 100vw);
  }
  .container .content .content_inner .daily_check ul.check li.list .list_row ul li a {
    font-size: calc(24 / 750 * 100vw);
    line-height: calc(32 / 750 * 100vw);
  }
  .container .content .content_inner .daily_check ul.check li.list .list_row ul li button {
    font-size: calc(24 / 750 * 100vw);
    line-height: calc(32 / 750 * 100vw);
  }
  /* end dashboard */
  /* login form */
  .form .head_txt{
    padding: calc(60 / 750 * 100vw) 0;
  }
  h3{
    font-size: calc(32 / 750 * 100vw);
    line-height: calc(36 / 750 * 100vw);
  }
  .form .login{
    padding: calc(34 / 750 * 100vw);
  }
  .form .login .user_login .btn_01{
    border-width: calc(2 / 750 * 100vw);
  }
  .form .form_inner{
    max-width: 100%;
    padding: calc(60 / 750 * 100vw) calc(20 / 750 * 100vw) calc(100 / 750 * 100vw) calc(20 / 750 * 100vw);
    box-sizing: border-box;
  }
  .form .form_inner .login_form .form_group label{
    font-size: calc(24 / 750 * 100vw);
    line-height: calc(30 / 750 * 100vw);
    margin-bottom: calc(10 / 750 * 100vw);
  }
  .form .form_inner .login_form .form_group, .form .form_inner .login_form .form_group_list{
    padding-top: calc(20 / 750 * 100vw);
  }
  .form .form_inner .login_form .form_group input,.form .form_inner .login_form .form_group select{
    height: calc(60 / 750 * 100vw);
    font-size: calc(20 / 750 * 100vw);
    line-height: calc(28 / 750 * 100vw);
    padding: 0 calc(10 / 750 * 100vw);
  }
  .form .form_inner .login_form .form_group textarea{
    height: calc(160 / 750 * 100vw);
  }
  .form .form_inner .check{
    padding-top: calc(20 / 750 * 100vw);
  }
  .form .form_inner .check label{
    font-size: calc(24 / 750 * 100vw);
    line-height: calc(32 / 750 * 100vw);
  }
  .form .form_inner .check label:first-of-type{
    margin-right: calc(45 / 750 * 100vw);
  }
  .form .form_inner .check label input{
    margin-left: calc(20 / 750 * 100vw);
  }
  .form .form_inner .submit_btn{
    padding-top: calc(50 / 750 * 100vw);
  }
  .req_txt{
    font-size: calc(24 / 750 * 100vw);
    margin-left: calc(10 / 750 * 100vw);
  }
  .error{
    font-size: calc(20 / 750 * 100vw);
    line-height: calc(24 / 750 * 100vw);
  }
  /* end login form */
  .file_btn span, .noFile{
    font-size: calc(24 / 750 * 100vw);
    line-height: calc(30 / 750 * 100vw);
  }
  .file-upload .file-select-button{
    height: calc(60 / 750 * 100vw);
  }
  .upload_icon{
    width: calc(25 / 750 * 100vw);
    margin-right: calc(5 / 750 * 100vw);
  }
  /*  modal   */
  .modal_open{
    padding-top: calc(30 / 750 * 100vw);
  }
  .modal_open .modal_inner{
    max-width: 100%;
    width: 90%;
    padding: calc(20 / 750 * 100vw) 0 calc(50 / 750 * 100vw) 0;
    /*height: calc(420 / 750 * 100vw);*/
  }
  .modal_open h3{
    padding: calc(11 / 750 * 100vw) 0 calc(15 / 750 * 100vw) 0;
  }
  .modal_open .modal_inner .modal_inner_content{
    padding: 0 calc(20 / 750 * 100vw);
  }
  .modal_open .modal_inner .form .form_inner{
    margin-top: calc(30 / 750 * 100vw);
  }
  .modal_open .modal_inner .form .form_inner .submit_btn{
    padding-top: calc(30 / 750 * 100vw);
  }
  .modal_open .modal_close{
    margin: 0 calc(20 / 750 * 100vw) 0 auto;
  }
}